.app {
	display: flex;
	flex-direction: row;
	align-items: center;
}

video {
	width: 50%;
}


body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .imageDisplay{
		margin-left: 5rem;
	}

	.watermarkButton{
		position: absolute;
		top: 37rem;
		right: 39rem;
		
	}

	.watermarkSubmit {
		position: absolute;
		right: 33rem;
	}